<h2>¡Gracias por tu compra! Tu pedido ha sido procesado correctamente.</h2>

<h3>Información de la compra:</h3>
<p>Comprador: {{{ticket.purchaser}}}</p>
<p>Fecha: {{{ticket.purchase_datetime}}}</p>
<p>Total: ${{{ticket.amount}}}</p>